<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrv7Yax2nxomqFC6G-44qZFNR29srPEvw</string>
	<key>GCM_SENDER_ID</key>
	<string>351761392227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muslim.pocket</string>
	<key>PROJECT_ID</key>
	<string>muslim-pocket-6f5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>muslim-pocket-6f5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351761392227:ios:154a647bfe61f089f1ce56</string>
	<key>DATABASE_URL</key>
	<string>https://muslim-pocket-6f5a1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>